body {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: rgb(216, 194, 174);
     color: black;}
h1 {
    color: #880707;
    background-color: #a8d0f1;
    opacity: 0.85;}
b {
    color: red;}
nav {
    color: #000000;
    background-color: dimgray;}
div.one {
    background-color:rgb(228, 193, 142); 
    padding: 10px;}

li {
    display: inline;
    padding: 10px;
    text-align: center;}
